<h1>Dashboard</h1>

<div>
<p id ="p1">
    <span id ="s1">Welcome to the Inventory System!</span><br><br>
    You have <span class = "bolded"><%= $foo3 %></span> items defined in the system.<br><br>
    You have <span class = "bolded"><%= $foo2 %></span> categories defined in the system.<br><br>

    The <span id = "s2">average</span> price of a sales item is <span class ="bolded">$<%= $foo1 %></span>.<br><br>
    <br>Current System Time: <%= @time %><br><br>
</p>

<span id="jsbox">The average is the sum divided by the count.</span>
</div>
