// Place all the styles related to the dash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}

#p1{
  padding-top: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: blue;
  padding-bottom: 15px;
  width:800px;
  margin: 0 auto 0 auto;
}

span.bolded {
  font-weight: bold;
}

#s1{
  font-weight: bold;
  font-size: 135%;
  padding-bottom: 10px;
}

#s2{
  text-decoration: underline;
  color: #9933CC;
  font-weight: bold;
}

#jsbox{
  font-weight: bold;
  visibility: hidden;
  color: purple;
}​

div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  width: 40%;
}

div{text-align:center;
  margin: 0 3px 0 3px;

}



