#header {

  background-color: #9933CC;
  padding: 20px;
  font-size: 16pt;
  color: #FFFF00;

  a {
    color: white;
    &:hover {
      color: #FFFF00;
      background-color: #9933CC;
    }
  }

}

;