<h1>Categories</h1>
<style>
  table{
      box-shadow: 10px 10px 5px #888888;
  }
  div{
      align:center;
  }
</style>
<div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.notes %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Category', new_category_path %>
